* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.15s ease;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient( to bottom right, #0700de, #ddffc9);
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: #071115;
}
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    color: #ffe1e1;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}
.calculator button#clear {
    background-color: #b80834;
    color: #000000;
}

.calculator button.btn-number {
    background-color: #01adfd;
    color: #000000;
}

  .calculator button.btn-operator {
    background-color: #672e8f;
    color: #ffffff;
  }
  
  .calculator button.btn-equal {
    background-color: #299230;
    color: #080808;
  }